.Top{
    width: 100%;
    height: 100%;
    
}

.submitButton{
    float: left;
}

.formC{
    padding: 2rem 7rem 1rem 7rem;
}

.Loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.Table{
    padding: 4rem 5rem 0rem 5rem;
}